@import url("https://fonts.google.com/specimen/Poppins?query=pop");

*{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    font-size: smaller;
}

a span{
    padding-left: 10px;
}
table tr{
    padding: 1rem;
}